@import "./reset.scss";

// 引入 Google Fonts
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

// 使用 Google Fonts
main,
div,
p,
span,
i,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif !important;
}

a {
  text-decoration: none;
  color: #333;
  &:link,
  &:active,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}
